# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required.

In [609]:
!pip install selenium
import pandas as pd 
import numpy as np

Requirement already satisfied: selenium in c:\users\mohitlewis\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\mohitlewis\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\mohitlewis\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mohitlewis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mohitlewis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: async-generator>=1.9 in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\mohitlewis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\mohitlewis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mohitlewis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mohitlewis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [610]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [611]:
driver=webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [612]:
driver.get("https://www.naukri.com/")

In [613]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [614]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div[1]/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [615]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [616]:
job_title=[]
job_location=[]
company_name=[]
Exp_required=[]

In [617]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Senior Data Analyst',
 'Data Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst - FinTech',
 'Data Analyst - FinTech',
 'Data Analyst',
 'Freelancer - Data Analyst - Contractual Role',
 'Lead Data Analyst (SQL & Python) - US MNC (analytics)',
 'data analyst / data analytics - US MNC (analytics)']

In [618]:
# scraping job location from given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)']

In [619]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Latentview',
 'Varite',
 'Accenture',
 'Artech infosystem',
 'Primo Hiring',
 'Primo Hiring',
 'What Digital Technologies Private Limited',
 'WEN',
 'Aspyra HR Services',
 'Aspyra HR Services']

In [620]:
# scraping job experience from given page

experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience'] //span")
for i in experience_tags[0:10]:
    Exp=i.text
    Exp_required.append(Exp_required)
Exp_required

[[...], [...], [...], [...], [...], [...], [...], [...], [...], [...]]

In [621]:
print(len(job_title),len(job_location),len(company_name),len(Exp_required))

10 10 10 10

In [622]:
#creating dataframe from above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':Exp_required})
df

,job_title,job_location,company_name,Exp_required
0,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",Latentview,"[[[[[...], [...], [...], [...], [...], [...], ..."
1,Data Analyst,Bangalore/Bengaluru,Varite,"[[[[[...], [...], [...], [...], [...], [...], ..."
2,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,"[[[[[...], [...], [...], [...], [...], [...], ..."
3,Data Analyst - CRM Platform,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Artech infosystem,"[[[[[...], [...], [...], [...], [...], [...], ..."
4,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,"[[[[[...], [...], [...], [...], [...], [...], ..."
5,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,"[[[[[...], [...], [...], [...], [...], [...], ..."
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies Private Limited,"[[[[[...], [...], [...], [...], [...], [...], ..."
7,Freelancer - Data Analyst - Contractual Role,Bangalore/Bengaluru,WEN,"[[[[[...], [...], [...], [...], [...], [...], ..."
8,Lead Data Analyst (SQL & Python) - US MNC (ana...,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Aspyra HR Services,"[[[[[...], [...], [...], [...], [...], [...], ..."
9,data analyst / data analytics - US MNC (analyt...,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Aspyra HR Services,"[[[[[...], [...], [...], [...], [...], [...], ..."

In [623]:
driver.close()

In [624]:
from selenium.common.exceptions import NoSuchElementException

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name.

In [625]:
driver=webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [626]:
driver.get("https://www.naukri.com/")

In [627]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [628]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [629]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [630]:
job_title=[]
job_location=[]
company_name=[]

In [631]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Science Specialist',
 'Data Science Manager',
 'Mongodb Database Administrator, Maria DB or Cassandra',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - Computer Vision',
 'Senior Data Scientist']

In [632]:
# scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[:10]:
    location=i.text
    job_location.append(location)
job_location

['Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'New Delhi, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru']

In [633]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[:10]:
    company=i.text
    company_name.append(company)
company_name

['Accenture',
 'Accenture',
 'Mphasis',
 'CitiusTech',
 'ZS Associates',
 'Tech Mahindra',
 'Boston Consulting Group',
 'IBM',
 'Walmart',
 'Wipro']

In [634]:
print(len(job_title[:10]), len(job_location[:10]), len(company_name[:10]))

10 10 10

In [635]:
#creating dataframe from above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})
df

,job_title,job_location,company_name
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,Data Science Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Mphasis
3,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech
4,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates
5,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tech Mahindra
6,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
9,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Wipro

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [636]:
# let's first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [637]:
url = "https://www.naukri.com"
driver.get(url)

In [638]:
# finding element for job search bar
search_job = driver.find_element(By.XPATH,"//li[@class='nI-gNb-menuItems']")
search_job

In [639]:
# write on search bar
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [640]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [641]:
#applying location and salary filters

In [678]:
loc_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")


for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [677]:
sal_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [644]:
#so let's extract all the required data

In [681]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job=[]
for i in job_title:
    job.append(i.text)
job

[]

In [645]:
job_title=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job=[]
for i in job_title:
    job.append(i.text)
job

[]

In [646]:
comp_name=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company=[]
for i in comp_name:
    company.append(i.text)
    
company

[]

In [647]:
exp_req=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience=[]
for i in exp_req:
    experience.append(i.text)
experience

[]

In [648]:
loc=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location=[]
for i in loc:
    location.append(i.text)
    
location

[]

In [650]:
#creating DataFrame for the scraped data

In [689]:
df=pd.DataFrame()
df["JOB_TITLE"]=job[:10]
df["COMPANY_NAME"]=company[:10]
df["EXPERIENCE_REQUIRED"]=experience[:10]
df["JOB_LOCATION"]=location[:10]
df

Empty DataFrame
Columns: [JOB_TITLE, COMPANY_NAME, EXPERIENCE_REQUIRED, JOB_LOCATION]
Index: []

In [652]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [653]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [654]:
url="https://www.flipkart.com/"
driver.get(url)

In [655]:
search_items=driver.find_element(By.XPATH,"//input[@class='_3704LK']")

In [656]:
search_items.send_keys("sunglasses")

In [657]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

In [658]:
search_btn.click()

In [659]:
#creating functions to scrape the similar attributes from different pages

In [660]:
def scrape_brand_name(url):
    Brand=[]
    driver.get(url)
    try:
        brand_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
        time.sleep(3)
        
        for i in brand_name:
            
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        return Brand
    except StaleElementReferenceException as e:
        print("exception raised",e)

In [661]:
def scrape_product_des(url):
    P_desC=[]
    driver.get(url)
    P_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in P_desc:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
        
    return product_des

In [662]:
def scrape_price(url):
    price=[]
    driver.get(url)
    price_el=driver.find_elements(By.XPATH,"//div[@class='_3KxRU6 _2ssEMF']")
    
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        except:
            price.append("--")
        
    return price

In [663]:
def scrape_discount(url):
    discount=[]
    driver.get(url)
    
    discount_el=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
        
    for i in discount_el:
        
        try:
            
            discount.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            discount.append("--")
        
    return discount

In [664]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [665]:
Brand=[]
Price=[]
P_desc=[]
Discount=[]

urls='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='
for i in ['1','2','3']:

   url= urls+i
   time.sleep(5)
   brand=scrape_brand_name(url)
   Brand.extend(brand) 
   product=scrape_product_des(url)
   product.extend(product)
   discount=scrape_discount(url)
   discount.extend(discount)
   price=scrape_price(url)
   price.extend(price)

In [666]:
print(len(Brand),len(P_desc),len(Discount),len(Price))

0 0 0 0

In [667]:
#creating DataFrame for the scraped Data
df=pd.DataFrame()
df["BRAND"]=brand_list[:100]
df["PRODUCT_DESCRIPTION"]=product_list[:100]
df["DISCOUNT"]=discount_list[:100]
df["PRICE"]=price_list[:100]
df

Empty DataFrame
Columns: [BRAND, PRODUCT_DESCRIPTION, DISCOUNT, PRICE]
Index: []

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [668]:
driver = webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [669]:
url='https://www.flipkart.com/'
driver.get(url)

In [670]:
driver.maximize_window()

In [671]:
search_column=driver.find_element(By.XPATH,"//input[@class='_3704LK']")

In [672]:
search_column.send_keys('Iphone 11')

In [673]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

In [674]:
search_btn.click()

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (835, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=106.0.5249.62)
Stacktrace:
Backtrace:
	Ordinal0 [0x0052DF13+2219795]
	Ordinal0 [0x004C2841+1779777]
	Ordinal0 [0x003D423D+803389]
	Ordinal0 [0x004099D4+1022420]
	Ordinal0 [0x004078C4+1013956]
	Ordinal0 [0x004054AB+1004715]
	Ordinal0 [0x00404117+999703]
	Ordinal0 [0x003F9B76+957302]
	Ordinal0 [0x0041E7FC+1107964]
	Ordinal0 [0x003F94B4+955572]
	Ordinal0 [0x0041EA14+1108500]
	Ordinal0 [0x0042F192+1175954]
	Ordinal0 [0x0041E616+1107478]
	Ordinal0 [0x003F7F89+950153]
	Ordinal0 [0x003F8F56+954198]
	GetHandleVerifier [0x00822CB2+3040210]
	GetHandleVerifier [0x00812BB4+2974420]
	GetHandleVerifier [0x005C6A0A+565546]
	GetHandleVerifier [0x005C5680+560544]
	Ordinal0 [0x004C9A5C+1808988]
	Ordinal0 [0x004CE3A8+1827752]
	Ordinal0 [0x004CE495+1827989]
	Ordinal0 [0x004D80A4+1867940]
	BaseThreadInitThunk [0x74B96359+25]
	RtlGetAppContainerNamedObjectPath [0x77187C24+228]
	RtlGetAppContainerNamedObjectPath [0x77187BF4+180]

In [ ]:
def scrape_rating():
    rating=[]
    driver.refresh()
    rating_el=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK']")
    time.sleep(3)
    for i in rating_el:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

In [ ]:
def scrape_review_summary():
    review_sum=[]
    driver.refresh()
    rev_sum=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    time.sleep(3)
    for i in rev_sum:
        try:
            review_sum.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            review_sum.append("--")
    return review_sum

In [ ]:
def scrape_full_review():
    full_review=[]
    driver.refresh()
    rev_el=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div")
    time.sleep(3)
    for i in rev_el:
        try:
            full_review.append(i.text.replace("\n","  New Line: "))
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_review.append("--")
    return full_review

In [ ]:
rating=[]
review_sum=[]
full_review=[]
length=len(rating)
while(length<=100):
    driver.refresh()
    rating.extend(scrape_rating())
    review_sum.extend(scrape_review_summary())
    full_review.extend(scrape_full_review())
    time.sleep(5)
    length=len(rating)
    next_btn=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span")
    next_btn.click()
    
len(review_sum)

In [ ]:
#checking if the data was scraped properly

In [ ]:
length_list=[len(full_review),len(rating),len(review_sum)]
length_list

In [ ]:
review_sum

In [ ]:
#creating a DataFrame for the scraped data

df=pd.DataFrame()
df["INDEX"]=range(1,101)
df["RATING"]=rating[:100]
df["REVIEW_SUMMARY"]=review_sum[:100]
df["FULL_REVIEW"]=full_review[:100]
df.set_index("INDEX",inplace=True)
df

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [ ]:
driver = webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url='https://www.flipkart.com/'
driver.get(url)

In [ ]:
search_column=driver.find_element(By.XPATH,"//input[@class='_3704LK']")

In [ ]:
search_column.send_keys("sneakers")

In [ ]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

In [ ]:
search_btn.click()

In [ ]:
def scrape_brand():
    brand=[]
    brand_el=driver.find_element(By.XPATH,"//div[@class='_2WkVRV']")
    time.sleep(3)
    for i in brand_el:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
    return brand

In [ ]:
def scrape_product_des():
    product_des=[]
    des_el=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    print(len(des_el))
    time.sleep(3)
    for i in des_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
    return product_des

In [ ]:
def scrape_price():
    price=[]
    price_el=driver.find_elements(By.XPATH,"//div[@class='_3I9_wc']")
    time.sleep(3)
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
            
    return price

In [ ]:
def scrape_discount():
    discount=[]
    discount_el=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    time.sleep(3)
    for i in discount_el:
        try:
            discount.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            discount.append("--")
            
    return discount

In [ ]:
brand=[]
product_des=[]
price=[]
discount=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    product_des.extend(scrape_product_des())
    price.extend(scrape_price())
    discount.extend(scrape_discount())
    time.sleep(3)
    next_btn=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span")
    next_btn.click()
    length=len(brand)
len(price)

In [ ]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [ ]:
driver.maximize_window()

In [ ]:
# appplying the price filter
Price_filter=driver.find_elements(By.XPATH,"//label[@class='common-customerCheckbox vertical-filters-label']")
for i in Price_filter:
    if i.text=="Rs. 6649 to Rs. 13099":
        i.click()
        break

In [ ]:
#Applying the black colur filter
Color_filter=driver.find_elements(By.XPATH,"//li[@class='colour-listItem']")
for i in Color_filter:
    if i.text=="Black":
        i.click()
        break

In [ ]:
for i in range(2):
    b_name=driver.find_elements(By.XPATH,"//h1[@class='pdp-title']")
    p_desc=driver.find_elements(By.XPATH,"//h1[@class='name']")
    price =driver.find_elements(By.XPATH,"//div[@class='product-price']")
 
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [ ]:
brand=[]
description=[]
price=[]

In [ ]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
driver = webdriver.Chrome(r"C:\Users\MohitLewis\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url= "https://www.amazon.in/"
driver.get(" https://www.amazon.in/")

In [ ]:
driver.maximize_window()

In [ ]:
Product= driver.find_element(By.ID,"twotabsearchtextbox")
Product.send_keys("Laptop")

In [ ]:
search=driver.find_element(By.ID,"nav-search-submit-button")
search.click()

In [ ]:
title_el=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)
title

In [ ]:
Title_laptop=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in Title_laptop[:10]:
    title=i.text
    Title_laptop.append(title)
Title_laptop

In [ ]:
Price_laptop=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in Price_laptop[:10]:
    price=i.text
    Price_laptop.append(price) 
Price_laptop

In [ ]:
url2=driver.find_elements(By.XPATH,"//a[@class='a-link-normal a-text-normal']")

rating_url=[]
for i in url2[0:10]:
    rating_url.append(i.get_attribute('href'))
rating_url

In [ ]:
import time
rating=[]
for i in rating_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating.append(ratings)
    except:
        
        
        rating.append("00")
rating

In [ ]:
print(len(Title_laptop),len(Rating_laptop),len(Price_laptop))

In [ ]:
#creating DataFrame for the scraped data
laptop_df=pd.DataFrame()
laptop_df['INDEX']=range(1,11)
laptop_df['TITLE']=title[:10]
laptop_df['RATING']=rating[:10]
laptop_df['PRICE']=price[:10]
laptop_df.set_index('INDEX',inplace=True)
laptop_df